@import '../variables';

.table {
    width: 80%;
    margin: 75px auto;
    background-color: $mainBackgroundColor;

    .table-head {
        font-size: 20px;
        height: 70px;

        th {
            vertical-align: middle; // выравнивание текста в таблице через свойство vertical-align
        }  
    }

    tr {
        td {
            vertical-align: middle;

            .cell-input {
                background-color: inherit;
                border: none;
                color: rgb(0, 0, 0, 0.8);
                text-align: center;
                font-size: 18px;
            }   
        }
    }
}

.btn-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .card-btn {
        width: 45px;
        height: 40px;
        border: 1px solid rgb(246,164,188);
        border-radius: 10px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .card-btn.save {
        
        &.hidden {
            visibility: hidden;
        }
        
        img {
            width: 20px;
            height: 20px;
        }
    }
}





// .card-list {
//     width: 80%;
//     margin: 20px auto;
    
//     display: flex;
//     flex-direction: column;
// }

// .card-list-wrapper {
//     padding: 35px;
// }




// .card-list-wrapper {
//     width: 100%;
//     display: flex;
//     flex-direction: column;

//     span {
//         display: block;
//         width: 20%;
//         text-align: start;
//         border: 1px solid gray;
//     }
// }